<% provide(:title, 'New post') %>
<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="user_info2">
      <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
      <%= link_to @user.url,@user.url%>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
</div>